<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.developer.user.query.mapper.UserMapper">

    <!-- 유저코드 기반 상세 조회 -->
    <select
            id="findByUserCode"
            parameterType="Long"
            resultType="com.developer.user.query.dto.ResponseUserDTO"
    >
        SELECT
        user_code,
        user_id,
        user_name,
        user_nick,
        user_birth,
        user_phone,
        user_warning,
        user_status,
        res_noti
        FROM user
        WHERE user_code = #{ userCode }
    </select>

    <!-- 유저아이디 기반 상세 조회 -->
    <select
            id="findByUserId"
            parameterType="String"
            resultType="com.developer.user.query.dto.ResponseUserDTO"
    >
        SELECT
        user_code,
        user_id,
        user_name,
        user_nick,
        user_birth,
        user_phone,
        user_warning,
        user_status,
        res_noti
        FROM user
        WHERE user_id = #{ userId }
    </select>

    <!-- 이름이랑 핸드폰 번호로 아이디 찾기-->
    <select
            id="findUserIdByUserNameAndUserPhone"
            parameterType="com.developer.user.query.dto.FindIdDTO"
            resultType="String"
    >
        SELECT
        user_id
        FROM
        user
        WHERE user_name = #{ userName }
        AND user_phone = #{ userPhone }
    </select>

    <!-- 유저 닉네임으로 확인 -->
    <select
            id="findByUserNick"
            parameterType="String"
            resultType="com.developer.user.query.dto.ResponseUserDTO"
    >
        SELECT
        user_code,
        user_id,
        user_name,
        user_nick,
        user_birth,
        user_phone,
        user_warning,
        user_status,
        res_noti
        FROM user
        WHERE user_nick = #{ userNick }
    </select>

    <!-- 유저 닉네임으로 확인 -->
    <select
            id="findByUserPhone"
            parameterType="String"
            resultType="com.developer.user.query.dto.ResponseUserDTO"
    >
        SELECT
        user_code,
        user_id,
        user_name,
        user_nick,
        user_birth,
        user_phone,
        user_warning,
        user_status,
        res_noti
        FROM user
        WHERE user_phone = #{ userPhone }
    </select>
</mapper>